<div>
    <h2 id="page-heading">
        <span>Ad Committees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ad-committee" [routerLink]="['/ad-committee/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Ad Committee
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="adCommittees?.length === 0">
        <span>No adCommittees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="adCommittees?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdOn"><span>Created On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="semesterName"><span>Semester</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="facultyName"><span>Faculty</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designationName"><span>Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let adCommittee of adCommittees ;trackBy: trackId">
                    <td><a [routerLink]="['/ad-committee', adCommittee.id, 'view']">{{ adCommittee.id }}</a></td>
                    <td>{{ adCommittee.createdOn | date:'mediumDate' }}</td>
                    <td>{{ adCommittee.modifiedOn | date:'mediumDate' }}</td>
                    <td>{{ adCommittee.modifiedBy }}</td>
                    <td>
                        <div *ngIf="adCommittee.semesterId">
                            <a [routerLink]="['/semester', adCommittee.semesterId , 'view']" >{{ adCommittee.semesterName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="adCommittee.facultyId">
                            <a [routerLink]="['/faculty', adCommittee.facultyId , 'view']" >{{ adCommittee.facultyName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="adCommittee.designationId">
                            <a [routerLink]="['/admission-designation', adCommittee.designationId , 'view']" >{{ adCommittee.designationName }}</a>
                        </div>
                    </td>
                    <td>
                        {{ adCommittee.userId }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ad-committee', adCommittee.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ad-committee', adCommittee.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(adCommittee)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
