<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ad-committee-heading">Create or edit a Ad Committee</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="input-group">
                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker #createdOnDp="ngbDatepicker" formControlName="createdOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker #modifiedOnDp="ngbDatepicker" formControlName="modifiedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_semester">Semester</label>
                    <select class="form-control" id="field_semester" name="semester" formControlName="semesterId">
                        <option *ngIf="!editForm.get('semesterId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="semesterOption.id" *ngFor="let semesterOption of semesters; trackBy: trackById">{{ semesterOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('semesterId')!.invalid && (editForm.get('semesterId')!.dirty || editForm.get('semesterId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('semesterId')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_faculty">Faculty</label>
                    <select class="form-control" id="field_faculty" name="faculty" formControlName="facultyId">
                        <option *ngIf="!editForm.get('facultyId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="facultyOption.id" *ngFor="let facultyOption of faculties; trackBy: trackById">{{ facultyOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('facultyId')!.invalid && (editForm.get('facultyId')!.dirty || editForm.get('facultyId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('facultyId')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_designation">Designation</label>
                    <select class="form-control" id="field_designation" name="designation" formControlName="designationId">
                        <option *ngIf="!editForm.get('designationId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="admissionDesignationOption.id" *ngFor="let admissionDesignationOption of admissiondesignations; trackBy: trackById">{{ admissionDesignationOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('designationId')!.invalid && (editForm.get('designationId')!.dirty || editForm.get('designationId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('designationId')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option *ngIf="!editForm.get('userId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('userId')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
