<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-total-seat-heading">Create or edit a Total Seat</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_seat">Seat</label>
                    <input type="number" class="form-control" name="seat" id="field_seat"
                           formControlName="seat"/>
                    <div *ngIf="editForm.get('seat')!.invalid && (editForm.get('seat')!.dirty || editForm.get('seat')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('seat')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('seat')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="input-group">
                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker #createdOnDp="ngbDatepicker" formControlName="createdOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker #modifiedOnDp="ngbDatepicker" formControlName="modifiedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_facultyProgram">Faculty Program</label>
                    <select class="form-control" id="field_facultyProgram" name="facultyProgram" formControlName="facultyProgramId">
                        <option *ngIf="!editForm.get('facultyProgramId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="faProgramOption.id" *ngFor="let faProgramOption of faprograms; trackBy: trackById">{{ faProgramOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('facultyProgramId')!.invalid && (editForm.get('facultyProgramId')!.dirty || editForm.get('facultyProgramId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('facultyProgramId')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
