<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="program">
            <h2><span>Program</span> {{ program.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Program Id</span></dt>
                <dd>
                    <span>{{ program.programId }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ program.name }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ program.createdOn }}</span>
                </dd>
                <dt><span>Modified On</span></dt>
                <dd>
                    <span>{{ program.modifiedOn }}</span>
                </dd>
                <dt><span>Modified By</span></dt>
                <dd>
                    <span>{{ program.modifiedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/program', program.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
