<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fa-program-heading">Create or edit a Fa Program</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="input-group">
                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker #createdOnDp="ngbDatepicker" formControlName="createdOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker #modifiedOnDp="ngbDatepicker" formControlName="modifiedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_semester">Semester</label>
                    <select class="form-control" id="field_semester" name="semester" formControlName="semesterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="semesterOption.id" *ngFor="let semesterOption of semesters; trackBy: trackById">{{ semesterOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_faculty">Faculty</label>
                    <select class="form-control" id="field_faculty" name="faculty" formControlName="facultyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="facultyOption.id" *ngFor="let facultyOption of faculties; trackBy: trackById">{{ facultyOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_program">Program</label>
                    <select class="form-control" id="field_program" name="program" formControlName="programId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="programOption.id" *ngFor="let programOption of programs; trackBy: trackById">{{ programOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
